// Altura de secciones
$header: var(--header);
$scrollBar: var(--scrollbar);
$footer: var(--footer);
$appHeight: var(--app-height);

$height-real: calc( #{$appHeight} );
$height-header: calc( #{$appHeight} - #{$header} );
$height-footer: calc( #{$appHeight} - #{$footer} );
$height-header-footer: calc( #{$appHeight} - #{ $header} - #{$footer} );